@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

@font-face {
    font-family: CursedTimer;
    src: url(../fonts/CursedTimerUlil-Aznm.ttf);
    font-weight: normal;
}

:root {
    /*CLORES*/
    --rojo: #ca4a39;
    --rojovariacion: #ca4a39;
    --amarillo: #FFF300;
    --grisazul: #E7F3F3;
    --gris: #AAAFAF;
    --grisvariacion: #969d9d;
    --marron: #72733F;
}

* {
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: var(--gris);
}

body, button {
    color: white;
    font-family: 'Poppins', sans-serif;
}

body, main, div.tablero-2, .botones {
    justify-content: center;
    align-items: center;
}

main {
    flex-direction: column;
    margin: 1rem;
    padding: 7vw;
}

body, main, .container, div.tablero-2, .botones {
    display: flex;
}

.container {
    justify-content: space-around;
    width: 70%;
}

.tablero {
    margin: 0 1rem;
    padding: 1.5rem;
    background-color: var(--grisvariacion);
    border-radius: 2rem;
    width: 100%;
}


div.tablero-2 {
    background-color: var(--grisazul);
    width: 100%;
    height: 6.5rem;
    border-radius: 1.3rem;
}

p {
    margin: auto;
}

h1 {
    font-size: 3rem;
}

h1, h3 {
    line-height: 1;
}

h1, h3, #puntaje-1, #puntaje-2 {
    text-align: center;
}

#puntaje-1, #puntaje-2 {
    padding: 0.5rem;
    font-family: CursedTimer, sans-serif;
    font-size: 5rem;
    color: var(--rojo);
}

.botones {
    margin: 0.8rem 0.7rem;
}

button {
    width: 4rem;
    border: none;
    padding: 0.4rem;
    margin: 0.2rem;
    background-color: var(--rojovariacion);
    border-radius: 0.3rem;
    cursor: pointer;
    font-weight: 500;
}

.credito {
    font-size: 0.7rem;
    margin: 1rem;
    font-weight: 400;
    color: var(--grisazul);
}

@media only screen and (max-width: 600px) {
    main {
        padding: 0.6rem 0.5rem;
    }

    .container {
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 80%;
    }

    .tablero {
        width: 100%;
        padding: 0.8rem;
        margin-bottom: 1rem;
    }

    img {
        width: 10vw;
    }

    h1 {
        font-size: 2rem;
    }

    button {
        width: 4rem;
    }
}

@media only screen and (max-width: 300px) {
    h1 {
        font-size: 1.8rem;
    }

    button {
        width: 2.7rem;
    }

    .container {
        width: 90%;
        justify-content: center;
        align-items: center;
    }

    .tablero {
        width: 100%;
        height: 10%;
    }


    img {
        width: 10vw;
    }
}