@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

@font-face {
    font-family: CursedTimer;
    src: url(../fonts/CursedTimerUlil-Aznm.ttf);
    font-weight: normal;
}

:root {
    /*CLORES*/
    --rojo: #ca3e2b;
    --rojovariacion: #ca4a39;
    --amarillo: #FFF300;
    --grisazul: #E7F3F3;
    --gris: #AAAFAF;
    --grisvariacion: #969d9d;
    --marron: #72733F;
}

* {
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: var(--gris);
}

body, button {
    color: white;
    font-family: 'Poppins', sans-serif;
}

body, main, div.tablero-puntaje, .botones, .boton-reinicio {
    justify-content: center;
    align-items: center;
}

main, .tablero, div.tablero-puntaje {
    width: 100%;
}

main {
    flex-direction: column;

    height: 100vh;
    margin: 1rem;
    padding: 7vw;
}

body, main, .container, div.tablero-puntaje, .botones, .boton-reinicio {
    display: flex;
}

.container {
    justify-content: space-around;
    width: 70%;
}

.tablero {
    margin: 0 1rem;
    padding: 1.5rem;
    background-color: var(--grisvariacion);
    border-radius: 2rem;
}


div.tablero-puntaje {
    background-color: var(--grisazul);
    height: 6.5rem;
    border-radius: 1.3rem;
}

p {
    margin: auto;
}

h1 {
    font-size: 3rem;
}

h1, h3 {
    line-height: 1;
}

h1, h3, #puntaje-1, #puntaje-2, .boton-reinicio {
    text-align: center;
}

#puntaje-1, #puntaje-2 {
    padding: 0.5rem;
    font-family: CursedTimer, sans-serif;
    font-size: 5rem;
    color: var(--rojo);
}

.botones {
    margin: 0.8rem 0.7rem;
}

button {
    width: 4rem;
    border: none;
    padding: 0.4rem;
    margin: 0.2rem;
    background-color: var(--rojovariacion);
    border-radius: 0.3rem;
    cursor: pointer;
    font-weight: 500;
}

button:hover {
    background-color: var(--rojo);
}

button#reiniciar {
    background-color: transparent;
    padding: 1rem 0;
}

.material-icons {
    color: var(--grisazul);
    
}

.material-icons.md-36 {
    font-size: 2.5rem;
}

.credito {
    font-size: 0.7rem;
    margin: 1rem;
    font-weight: 400;
    color: var(--grisazul);
}

@media only screen and (orientation: landscape) {
    .container {
        width: 80%;
    }

    .tablero {
        width: 100%;
    }
}

@media only screen and (max-width: 1400px) {
    main {
        width: 100%;
        justify-content: center;
        align-items: center;
        padding: 4rem;
    }
    
    .container {
        width: 90%;
    }

    .tablero {
        width: 100%;
    }
}

@media only screen and (max-width: 900px) {
    .container {
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .tablero {
        width: 100%;
    }
}

@media only screen and (max-width: 800px) {
    main {
        width: 100%;
        height: 60%;
        padding: 4rem;
    }

    h1 {
        font-size: 2.5rem;
        padding: 0.5rem;
        margin: 0.7rem;
    }

    .container{
        justify-content: center;
        align-items: center;
        width: 85%;
        flex-direction: column;
    }

    .tablero {
        width: 90%;
        margin: 0.5em;
        padding: 1rem 0.6rem;
    }
    
    .credito {
        margin: 0.5rem;
    }

}

@media only screen and (max-width: 600px) {
    main {
        width: 100%;
        padding: 4rem 0rem;
    }

    .container {
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 90%;
    }

    .tablero {
        width: 100%;
        margin-bottom: 1rem;
    }

    h1 {
        font-size: 2rem;
        margin: 0.5rem;
    }

    button {
        width: 4rem;
    }
}

@media only screen and (max-width: 320px) {
    main {
        height: 100%;
    }
    h1 {
        font-size: 1.8rem;
        padding-bottom: 0;
    }

    button {
        width: 2.7rem;
    }

    .container {
        width: 85%;
        justify-content: center;
        align-items: center;
    }

    .tablero {
        width: 100%;
    }
}





